.bg-box {
  height: 900px;
  width: auto;
  background-color: green;
  background-image: url("https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg");
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-size: 400px, 200px;
  background-position: center;
  background-image: url("./img/green-png-44873.png");
  background-repeat: repeat-x;
  background-position: bottom;
}
